In [1]:
library(readxl)
df=data.frame(read_xlsx("test.xlsx"))
df

  Months Sum.of.No..of.Speeches Sum.of.No..word..Economy..used
1 Mar     6                     10
2 Apr     5                      0
3 May     4                      5
4 Jun    13                     19
5 Jul    13                     16
6 Aug     9                     14

In [5]:
cor(df[2],df[3])
# strong coorelation between No.of speeches and use of Word "Economy"

                       Sum.of.No..word..Economy..used
Sum.of.No..of.Speeches 0.8970072

In [4]:
t.test(df[2],df[3])

	Welch Two Sample t-test

data:  df[2] and df[3]
t = -0.6986, df = 7.8335, p-value = 0.505
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -10.063959   5.397292
sample estimates:
mean of x mean of y
 8.333333 10.666667

#### p value is greater than 0.05 and null hypothesis is retained and we reject alternate hypothesis. Hence means of two set of data is related and dependent on each other

In [6]:
x<-c(6,5,4,13,13,9)
y<-c(10,0,5,19,16,14)
var.test(x,y)
#var.test(df[2],df[3]) there was some gitich using this command

	F test to compare two variances

data:  x and y
F = 0.3107, num df = 5, denom df = 5, p-value = 0.2254
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.04347724 2.22041629
sample estimates:
ratio of variances
          0.310705

####  p value of F-test is greater than 0.05 and null hypothesis is retained and we reject alternate hypothesis.Hence variance of two set of data (i.e no. of Speeches and no. of word "Economy") are nearly equal.

### Both the test also conclude that data no. of speeches and no. of word "Economy" used are dependent.